@model Product
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
@*
    <h1>
        @ViewData["Category"]
    </h1>
    <h4>
        <p>@(((Product)ViewData["Product"]).Name)</p>
        <p>@(((Product)ViewData["Product"]).Price)</p>
        <p>@(((Product)ViewData["Product"]).Description)</p>
    </h4>
*@

@* 
    <h1>
        @ViewBag.Category
    </h1>
    <h4>
        
        <p>@ViewBag.Product.Name</p>
        <p>@ViewBag.Product.Price</p>
        <p>@ViewBag.Product.Description</p>
    </h4>
*@


    <h1>
        @ViewBag.Category
    </h1>
    <h4>
        
        <p>@Model.Name</p>
        <p>@Model.Price</p>
        <p>@Model.Description</p>
    </h4>

</body>

</html>